*{
    padding: 0;
    margin: 0;
}
.content{
    margin-left: 230px;
}

@media (max-width:390px) {
    .sidebar-main{
        display: none;
        position: relative;
    }
    .content{
        margin-left: 0px;
    }
    .left{
        width:100%
    }
    .right{
        width:100%
    }
    .top-box{
        flex-wrap: wrap;
    }
    .smallbox{
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
    }
    .box1{
        width:100% !important;
    }
    .midbox{
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
    }
    .box2{
        width:100% !important;
    }
    .bottom{
        width: 390px !important;
    }
    .downbox{
        width:100% !important;
    }
    .input{
        display: none;
    }
    .name{
        display: none;
    }
.display{
    display: block !important;
}
.rightbox{
    width: 98% !important;
    margin: 0px 20px !important;
}
.level1{
    width: 98% !important;
    /* margin: 0px 20px !important; */
}
}